.page-header
  %h1
    #{current_team.display_name.titleize}: Team Settings
    = add_group_button

  = render partial: 'groups/modal', locals: {title: 'New Group', group: Group.new, form_url: team_groups_path(current_team)}

- if current_team.groups.empty?
  %p There are no groups yet.

- current_team.groups.each do |group|
  .panel.panel-default
    .panel-heading
      = delete_group_button(group)
      = add_member_button(group)
      %h3.panel-title
        #{group.name.titleize}
    .panel-body
      = render partial: 'members/modal', locals: {title: 'New Member', member: Member.new, form_url: team_group_members_path(current_team, group), group: group}
      - if group.members.empty?
        There are no team members in this group yet.
      = render partial: 'groups/members', locals: {members: group.members}
