!!!
%html
  %head
    %title= PairMatcher
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{'role' => 'document'}
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-toggle" => "collapse", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar"}
            %span{class: "sr-only"} Toggle navigation
            %span{class: "icon-bar"}
            %span{class: "icon-bar"}
            %span{class: "icon-bar"}
          = link_to 'Pair Matcher', root_path, class: 'navbar-brand'
        #navbar.navbar-collapse.collapse{"data-nav-group" => controller_name}
          %ul.nav.navbar-nav
            %li.welcome= link_to 'Team Home', root_path
            - if team_signed_in?
              %li.pairs= link_to 'Pairs', team_pairs_path(current_team)
              %li.groups.members= link_to 'Members/Groups', team_groups_path(current_team)
          %ul.nav.navbar-nav.navbar-right
            - if team_signed_in?
              %li= link_to('Sign Out', destroy_team_session_path, :method => :delete)
            - else
              %li.sessions= link_to('Sign In', new_team_session_path)
              %li.registrations= link_to('Sign Up', new_team_registration_path)
    .container.theme-showcase{'role' => 'main'}

      = flash_messages

      = yield

